01-stripe-webhook-lite/01_stripe_webhook_lite.json
{
  "name": "01_stripe_webhook_lite",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe/payment",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data",
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 200],
      "id": "a1-webhook",
      "name": "TW:webhook_stripe",
      "webhookId": "stripe-lite-webhook-id"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "cachedResultName": "util_stripe_verify_signature"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tolerance_seconds": 300,
            "headers": "={{ $json.headers }}",
            "binary_property_name": "data"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [224, 200],
      "id": "a2-verify",
      "name": "XW:util_stripe_verify_signature"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ $json.authenticated }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [448, 200],
      "id": "a3-if-auth",
      "name": "IF:webhook_authenticated"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": \"{{ $json.error }}\"\n}",
        "options": { "responseCode": "={{ $json.status_code }}" }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [672, 304],
      "id": "a4-resp-auth-fail",
      "name": "RS:response_not_authenticated"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nconst type = body.type ?? '';\nconst eventId = body.id ?? '';\nconst created = body.created ? new Date(body.created * 1000).toISOString() : new Date().toISOString();\n\nlet amount = null;\nlet currency = null;\nlet customerEmail = null;\nlet objectId = null;\n\nconst obj = body.data?.object ?? {};\ncurrency = obj.currency ?? null;\n\nif (obj.object === 'payment_intent') {\n  amount = obj.amount_received ?? obj.amount ?? null;\n  objectId = obj.id ?? null;\n  customerEmail = obj.receipt_email ?? null;\n}\n\nif (obj.object === 'checkout.session') {\n  amount = obj.amount_total ?? null;\n  objectId = obj.id ?? null;\n  customerEmail = obj.customer_details?.email ?? obj.customer_email ?? null;\n}\n\nreturn [{\n  json: {\n    stripe_event: {\n      event_id: eventId,\n      type,\n      created,\n      object_id: objectId,\n      amount,\n      currency,\n      customer_email: customerEmail\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [672, 96],
      "id": "a5-parse",
      "name": "FN:parse_event_normalize"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "type1",
              "leftValue": "={{ $json.stripe_event.type }}",
              "rightValue": "payment_intent.succeeded",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "type2",
              "leftValue": "={{ $json.stripe_event.type }}",
              "rightValue": "checkout.session.completed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "or"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [896, 96],
      "id": "a6-if-supported",
      "name": "IF:event_type_supported"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": { "__rl": true, "mode": "list" },
        "text": "=Stripe {{ $json.stripe_event.type }}\nEvent: {{ $json.stripe_event.event_id }}\nAmount: {{ $json.stripe_event.amount }}\nEmail: {{ $json.stripe_event.customer_email ? $json.stripe_event.customer_email : 'N/A' }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [1120, 96],
      "id": "a7-slack",
      "name": "SLACK:notify_payment",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ok\"\n}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1344, 96],
      "id": "a8-resp-ok",
      "name": "RS:respond_ok"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ignored\"\n}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1120, 304],
      "id": "a10-resp-ignored",
      "name": "RS:respond_ignored"
    }
  ],
  "connections": {
    "TW:webhook_stripe": { "main": [[{ "node": "XW:util_stripe_verify_signature", "type": "main", "index": 0 }]] },
    "XW:util_stripe_verify_signature": { "main": [[{ "node": "IF:webhook_authenticated", "type": "main", "index": 0 }]] },
    "IF:webhook_authenticated": {
      "main": [
        [{ "node": "FN:parse_event_normalize", "type": "main", "index": 0 }],
        [{ "node": "RS:response_not_authenticated", "type": "main", "index": 0 }]
      ]
    },
    "FN:parse_event_normalize": { "main": [[{ "node": "IF:event_type_supported", "type": "main", "index": 0 }]] },
    "IF:event_type_supported": {
      "main": [
        [{ "node": "SLACK:notify_payment", "type": "main", "index": 0 }],
        [{ "node": "RS:respond_ignored", "type": "main", "index": 0 }]
      ]
    },
    "SLACK:notify_payment": {
      "main": [
        [{ "node": "RS:respond_ok", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
